
*{
    box-sizing: border-box;
}

.row{
    width: 100%;
}
h1{
    text-align: center;
}

.content{
    width: 90%;
    border: 1px solid black;
    background-color: grey;
    margin: 0 auto;
    position: relative;
}

.shushi{
    position: absolute;
    top: -17px;
    right: -1px;
    padding: 4px 19px;
    background: pink;
    border: 1px solid black;
}
.lorem{
    padding: 20px;
}

.beef{
    background-color: rgb(245, 42, 42);
    color: white;
}

.chicken{
    background-color: rgb(209, 255, 6);
}

@media (min-width: 992px){
    
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
         float: left;
     }
 
     .col-lg-4{
         width: 33%;
     }
     
 }
 
 @media (min-width: 768px) and (max-width: 991px){
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
         float: left;
     }
     .col-md-4{
         width: 33.3%;
     }
 
     .col-md-6{
         width: 50%;
     }
 
     .col-md-12{
         width: 100%;
         margin-top: 15px;
     }
 
 }
 
 @media (max-width: 767px){
     .content{
         margin-bottom: 15px;
     }
 }
